name: GitHub Actions Secrets
on: [push]
jobs:
  GitHub-Actions-Secrets:
    runs-on: ubuntu-latest
    steps:
      # List out repository details
      - name: Step 1 - Echo out a GitHub Actions Secret to the logs
      - run: echo "The job was automatically triggered by a ${{ github.event_name }} event."
      - run: echo "This job is now running on a ${{ runner.os }} server hosted by GitHub!"
      - run: echo "The name of your branch is ${{ github.ref }} and your repository is ${{ github.repository }}."
      - name: Check out repository code
        uses: actions/checkout@v2
      - run: echo "The ${{ github.repository }} repository has been cloned to the runner."
      - name: List files in the repository
        run: |
          ls ${{ github.workspace }}
      - run: echo "This job's status is ${{ job.status }}."
      
      # Echo out a GitHub Actions Secret to the logs
      - name: Step 2 - Echo out a GitHub Actions Secret to the logs
        run: |
          echo "The GitHub Action Secret will be masked:  "
          echo ${{ secrets.APP_KEY }}
          echo "Trick to echo GitHub Actions Secret:  "
          echo ${{secrets.APP_KEY}} | sed 's/./& /g'
          
      # Use a GitHub Actions secret variable in a bash shell
      - name: Step 3 - GitHub Action if statement (true)
        env: 
          WHO_TO_TRUST: ${{ secrets.APP_KEY }}
        if:  env.WHO_TO_TRUST == 'APP_KEY'
        run: echo "I know what the secret token is!"

      # A GitHub Actions if statement with a secret environment variable
      - name: Step 4 - Conditional GitHub Action (false)
        shell: bash
        env: 
          WHO_TO_TRUST: ${{ secrets.APP_KEY }}
        if:  env.WHO_TO_TRUST != 'APP_KEY'
        run: echo "I was wrong thinking the GitHub secret was 'TrustNobody'!"
